$light-blue: #A2D2FF;
$dark-blue: #004280;
$light-grey: #BCBCBC;
$dark-grey: #2B2B2B;
$orange: #FF865E;
$beige: #FEF9EF;

$separator-grey: $light-grey;

$bg-beige: $beige;
$bg-orange: $orange;
$bg-blue: $light-blue;
$bg-grey: $light-grey;

$text-blue: $dark-blue;
$text-grey: $dark-grey;
$text-beige: $beige;

@mixin separator{
  width: 100%;
  height: 2px;
  display: block;
}
@mixin menu-button{
  width: 100%;
  height: 48px;
  border-radius: 16px;
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}*/