@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "Inter";
  // адрес шрифта и тип
  src: url("../../public/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
  font-style: normal;
  font-weight: normal;
}